GITHUB_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxx
OPENAI_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
SLACK_BOT_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
SLACK_CHANNEL=#xxxxxxxxx
GITHUB_USERNAME
TWILIO_SID=your_twilio_sid
TWILIO_AUTH=your_twilio_auth_token
WHATSAPP_TO=whatsapp:+234yourphonenumber